        body {
            background-color: black;
            color: white;
            font-family: 'Tahoma', sans-serif;
            font-size: 16px;
        }
        
        h1,
        h2 {
            font-family: 'Impact', sans-serif;
        }
        
        .navbar-default {
            border: 0px;
            background-color: black;
            color: white;
        }
        
        .navbar-default .navbar-brand {
            color: white !important;
            background-color: black !important;
        }
        
        .navbar-default .navbar-nav>li>a {
            color: white;
            background-color: black;
        }
        
        .navbar-default .navbar-nav>li>a:focus,
        .navbar-default .navbar-nav>li>a:hover {
            color: black;
            background-color: white;
        }
        
        .navbar-default .navbar-nav>.active>a,
        .navbar-default .navbar-nav>.active>a:focus,
        .navbar-default .navbar-nav>.active>a:hover {
            color: black;
            background-color: white;
        }
        
        .navbar-default .navbar-nav .open .dropdown-menu>li>a {
            color: white;
            background-color: black;
        }
        
        .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
        .dropdown-toggle:active,
        .open .dropdown-toggle {
            color: black !important;
            background-color: white !important;
        }
        
        .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
        {
            color: black;
            background-color: white;
        }
        
        .dropdown-menu {
            padding: 0px;
            border: 0px;
        }
        
        span.icon-bar {
            background-color: white !important;
        }
        
        button.navbar-toggle:focus>span.icon-bar,
        button.navbar-toggle:active>span.icon-bar,
        button.navbar-toggle:hover>span.icon-bar {
            background-color: black !important;
        }
        
        button.navbar-toggle {
            color: white;
            background-color: black;
            border-color: white;
        }
        
        button.navbar-toggle:focus,
        button.navbar-toggle:active,
        button.navbar-toggle:hover {
            background-color: white !important;
            border-color: black !important;
        }
        
        .navbar-nav {
            margin-top: 0px;
        }
        
        .navbar-brand>img {
            max-height: 20px;
        }
        
        .header {
            background-image: url("/images/Stars-Header.jpg");
            background-repeat: repeat;
            color: white;
            width: 100%;
            margin-top: 50px;
        }
        
        .headertxt {
            position: absolute;
        }
        
        .header>h1,
        .header>p {
            text-align: center;
            text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
            margin: 0px;
        }